*{
    margin:0;
    padding:0;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    background:#C7E3DB;
    color: black;
    padding:10px;
}
.container{
    width:1024px;
    margin:0 auto;
}
.clear::after{
    content:" ";
    clear:both;
    display:block;
}
.left{
    float:left;
    width:210px;
    box-sizing:border-box;
    margin:0 10px;
}
.leftgroup{
    width:100%;
    box-shadow: 0 0 5px #000;
}
.dp{
    width:210px;
    height:200px;
    background-color:#43a286;
    box-sizing:border-box;
    padding: 8px;
}
.dp img{
    width:190px;
    height: 180px;
    border-radius: 10px;
    border:2px solid white;
}
.socials{
    margin:10px auto;
    width:100%;
    min-height:50px;
    background-color:#43a286;
    box-shadow: 0 0 5px #000;
    box-sizing:border-box;
    list-style-type: none;
    text-align: center;
}
.socials li{
    width:23%;
    display: inline-block;
}
.socials li a span{
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    -o-transition: ease .3s;
    -moz-transition: ease .3s;
    -webkit-transition: ease .3s;
    -ms-transition: ease .3s;
    margin:10px 9.7px;
    border-radius: 50%;
    box-sizing: border-box;
}
.socials a span.facebook {
    background: url('../images/socials/facebook.png');
    background-size: 100% 100%;
}
.socials a span.twitter {
    background: url('../images/socials/twitter.png');
    background-size: 100% 100%;
}
.socials a span.linkedin {
    background: url('../images/socials/linkedin.png');
    background-size: 100% 100%;
}
.socials a span.google {
    background: url('../images/socials/google.png');
    background-size: 100% 100%;
}
.socials a span:hover{
    border:2px solid white;
}
nav{
    box-sizing:border-box;
}
nav ul{
    background-color:#43a286;
    overflow:hidden;
    list-style-type:none;
    width:100%;
    padding: 0;
    text-align:center;
    margin:0;
    -webkit-transition: max-height 0.4s;
    -ms-transition: max-height 0.4s;
    -moz-transition: max-height 0.4s;
    -o-transition: max-height 0.4s;
    transition: max-height 0.4s;
}
nav ul li{
    padding:20px;
    transition:0.5s ease;
    cursor: pointer;
}
nav ul li:hover{
    background-color:#399077;
}
nav ul li.active{
    background-color:#399077;
}
nav ul li a{
    color:inherit;
}
.page_container{
    float:left;
    width:774px;
    min-height: 100%;
    height: 100%;
    position:relative;
}
.page{
    width:100%;
    min-height:100%;
    height: auto;
    background: whitesmoke;
    display:none;
    box-sizing:border-box;
    padding:10px;
    color:black;
}
.footer{
    width:100%;
    height: 30px;
    font-size: 15px;
    text-align: center;
    background-color:#43a286;
    line-height: 30px;
    box-shadow: 0 0 5px #000;
}
.show{
    display:block !important;
}
.cover_container{
    background-color: #43a286;
    width:100%;
    height: 255px;
    position:relative;
    overflow: hidden;
    box-shadow: 0 0 5px #000;
}
.cover_info_bg{
    background-image: url('../images/cover.jpg');
    -webkit-filter: blur(20px);
    width: 235px;
    height: 255px;
    background-position: -603px 535px;
    position: absolute;
    right:0;
}
.cover_info{
    background-color: rgba(67, 162, 134, 0.42);
    width: 235px;
    height: 255px;
    right:0;
    position: absolute;
    box-shadow: 0 0 5px #0A4F3B;
    box-sizing:border-box;
    padding:20px 10px;
    color: white;
    text-align: center;
}
.cover{
    background-image:url('../images/cover.jpg');
    background-position: center;
    background-size: 100% 100%;
    width:100%;
    height:536px;
    position: absolute;
    top: 0;
    left: 0;
}
.project_img{
    width:231px;
    height:231px;
    box-sizing:border-box;
    margin:5px 10px;
    padding:5px;
    border-radius:3px;
    background:#43a286;
    overflow: hidden;
    float: left;
}
.project_img img{
    width: 210px;
    height: 210px;
    margin: 5px;
    border-radius:3px;
    box-sizing:border-box;
    border:2px solid white;
}
.gallery_container{
    width: 100%;
    height: 100%;
    max-height: 100%;
    position: fixed;
    z-index: 9999;
    background:rgba(0,0,0,0.8);
    top:0;
    left:0;
    display: inline-flex;
    overflow: auto;
}
.gallery{
    width:70%;
    height: auto;
    min-height: 100px;
    background-color: white;
    margin:auto;
    position: relative;
    overflow: auto;
    box-shadow: 0 0 10px #fff;
}
.gallery img{
    width:100%;
}
.gallery a{
    position: absolute;
    z-index: 10000;
    top:0;
    right: 0;
    display: block;
    height: 20px;
    width: 20px;
    padding:5px;
    background-color: #43a286;
    color: white;
    text-align: center;
}
/* Tags */
h1{
    font-size: 23px;
    border-bottom: 2px solid #43a286;
}
h2{
    font-size: 20px;
    margin-top: 10px;
    box-sizing: border-box;
    padding:3px;
    background:#43a286;
    font-weight: lighter;
    box-shadow: 0 0 5px #000;
}
p{
    font-size: 16px;
}
input[type=text],input[type=password],textarea{
    width:100%;
    resize:none;
    box-sizing:border-box;
    padding:5px;
    box-shadow: 0 0 5px #000;
}
textarea{
    height:100px;
}
input[type=submit]{
    width:200px;
    padding:5px;
    float:right;
}
a{
    text-decoration: none;
    color:inherit;
}
/* scroll bars */
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: #43A286;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #43A286;
}
/* Responsive Queries */
@media screen and (max-width:1023px){
    .container{
        width:100%;
    }
    .left{
        width:20%;
    }
    .page_container{
        width:77%;
    }
    .dp{
        width:100%;
        height: auto;
    }
    .dp img{
        width:98%;
        height: inherit;
    }
    .page{
        width:100%;
    }
}
@media screen and (max-width:686px){
    .left{
        width:100%;
        margin:auto;
    }
    .page_container{
        width: 100%;
    }
    .contact{
        width:100%;
    }
    .gallery{
        width:100%;
    }
}
@media screen and (max-width: 320px){

}
@media screen and (max-width: 299px){
    .container{
        width: 299px;
    }
}